*{
    padding: 0%;
    margin: 0%;
    font-size:xx-large;
    font-family: “Comic Sans MS”, “Comic Sans”, cursive;
    
}

.lightmode1_body{
  background-color: rgb(255, 255, 255);
  color: rgb(64, 0, 0);
}
.lightmode1_button{
  background-color: rgb(3, 176, 182);
  font-size: 24px;
}
.pausebutton{
  background-color: rgb(255, 255, 255);
  font-size: 24px;
}
.nightmode1_button{
  background-color: rgb(182, 3, 3);
  font-size: 24px;
}

.nightmode1_body{
  background-color: black;
  color: rgb(3, 173, 162);
}
.nightmode2_grid{
  
  background-color: black;
  display: grid;
   
    margin: 0%;
   
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(10, 1fr);
    width: 98vw;
   height: 70vh;
   border: thick double rgb(165, 42, 42);

}
.lightmode2_grid{
  
  background-color: rgb(255, 254, 254);
  display: grid;
   
    margin: 0%;
   
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(10, 1fr);
    width: 98vw;
   height: 70vh;
   border: thick double rgb(165, 42, 42);

}

#container{
    background-color: black;
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
   /* align-items: center;
   height: 100vh;*/
    justify-content: center;
}
#pop-up{
   
    position: absolute;
    opacity: 0;
    background-color: aliceblue;
   right: 5%;
   left: 5%;
   top: 5%;
   padding: 2%;
   border:thick double #32a1ce;
   overflow: hidden;
}
.grid1{
    display: grid;
   
    margin: 0%;
    background: linear-gradient(rgb(239, 255, 244),rgb(30, 137, 114)) ;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(10, 1fr);
    width: 98vw;
   height: 70vh;
   border: thick double rgb(165, 42, 42);
}

 #downbutton, #side ,#upbutton{

    justify-content: center;
    display:flex;
}
.head{
background-color:firebrick;
border-radius: 30%;
}
.snakebody{
background-color: rgb(115, 27, 7);
border-radius: 30%;
}
.food{
background-color:deeppink ;

}
.buton:hover{
    background-color: rgb(19, 151, 149);
    color: aliceblue;
    
}
.buton:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buton{
    background-color: rgb(51, 204, 9);
  
    border-radius: 10%;
    box-shadow: 7px cornflowerblue;
}

 
   #friends{
 position: absolute;
 right: 36%;
 
}
.right{
    float: right;
}


.rightbuttonsofpuse{
   float: right;
    }
.lefting {
       float: left;
    }
    

    

.resumebuttonpop , .musicover{
    font-size: larger;
    background-color: #c29b00;
width: 100%;
border: thick double rgb(18, 206, 203);
  }
.musicover2{
  font-size: larger;
  background-color: #ff0008;
  color: aqua;
  width: 100%;
  border: thick double rgb(18, 206, 203);
}

.musicover:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.pausebutton:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.resumebuttonpop:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.pausebutton:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.disable{
    pointer-events: none;
   }
.enable{
    pointer-events: all;
}
