*{
    padding: 0%;
    margin: 0%;
    font-size:xx-large;
    font-family: “Comic Sans MS”, “Comic Sans”, cursive;
}
#body{
    background-color: black;
    width: 100%;
    
    display: flex;
   /* align-items: center;
   height: 100vh;*/
    justify-content: center;
}
#pop-up{
   
    position: absolute;
    opacity: 0;
    background-color: aliceblue;
   right: 5%;
   left: 5%;
   top: 5%;
   padding: 2%;
   border:thick double #32a1ce;
   overflow: hidden;
}
#grid{
    display: grid;
   
    margin: 0%;
    background: linear-gradient(rgb(192, 246, 226),rgb(0, 255, 123)) ;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(10, 1fr);
    width: 98vw;
   height: 70vh;
   border: solid brown 1vw ;
}

 #downbutton, #side ,#upbutton{

    justify-content: center;
    display:flex;
}
.head{
background-color:firebrick;
border-radius: 30%;
}
.snakebody{
background-color: rgb(115, 27, 7);
border-radius: 30%;
}
.food{
background-color:deeppink ;

}
.buton:hover{
    background-color: rgb(19, 151, 149);
    color: aliceblue;
    
}
.buton:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buton{
    background-color: rgb(51, 204, 9);
  
    border-radius: 10%;
    box-shadow: 7px cornflowerblue;
}

 
   #friends{
 position: absolute;
 right: 36%;
 
}
.right{
    float: right;
}


.rightbuttonsofpuse{
   float: right;
    }
.lefting {
       float: left;
    }
    
    

.resumebuttonpop , .musicover{
    font-size: larger;
    background-color: #c29b00;
  left: 20;
  right: 20;
}

.musicover:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.pausebutton , .resumebutton{
    background-color: aqua;
    font-size: 24px;
}
.pausebutton:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.resumebuttonpop:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.resumebutton:active{
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.disable{
    pointer-events: none;
   }
.enable{
    pointer-events: all;
}
